<launch>

  <arg name="rviz_gui" default="True" />
  <arg name="view_segmentation" default="False" />
  <arg name="view_mask" default="False" />
  <arg name="refine" default="False" />

  <!-- Visualize the binary mask -->
  <arg name="set_debug" default="True" />
  <arg name="min_pixel" default="200" /> 
  <param name="classes" textfile="/home/workstation2/AlessioBenitoAlterani/Master-thesis/yolact/data/santal_dataset/classes.txt" />
  <param name="depth_topic_name" value="/camera/depth/image_rect_raw" />

  <include file="$(find pose_estimation)/launch/segmentation.launch">
     <arg name="view_segmentation" default="$(arg view_segmentation)" />
     <arg name="view_mask" default="$(arg view_segmentation)" />
     <arg name="set_debug" default="$(arg set_debug)" />
  </include>

  <!-- spawn pose_estimation node -->
  <node name="pose_estimation_node" pkg="pose_estimation" type="DenseFusion_node.py" respawn="true" output="screen"> 
    
    <!-- weigth of DenseFusion model-->
    <param name="refine" value="$(arg refine)" />
    <param name="pose_model" value="/home/workstation2/AlessioBenitoAlterani/Master-thesis/DenseFusion/trained_models/santal_dataset/pose_model_19_0.025406306836892375.pth" />
    <param name="pose_refine_model" value="/home/workstation2/AlessioBenitoAlterani/Master-thesis/DenseFusion/trained_models/santal_dataset/pose_refine_model_116_0.01558202758204158.pth" />

    <!-- Camera parameters -->
    <param name="cx" value="317.7075500488281" />
    <param name="cy" value="238.1421356201172" />
    <param name="fx" value="610.59326171875" />
    <param name="fy" value="610.605712890625" />
    <param name="cam_scale" value="1000" />
    <param name="min_pixel" value="$(arg min_pixel)" />    
    <param name="refine_iteration" value="2" />
    <param name="objects_of_interest" value="santal_ace" />
    <param name="cloud_base_path" value="/mnt/d1382ef8-acda-4cd4-ae67-0a971abc01c8/dope_dataset/santal_ace" />
    <param name="view_segmentation" value="$(arg view_segmentation)" />
    <param name="tf_camera_frame" value="camera_color_optical_frame" />
    
  </node>

</launch>
