
<launch>

	<arg name="simulation_arg" default="true" />

	<param name="simulation" value="$(arg simulation_arg)" type="bool"/>
	<!--
	<remap from="/trajectory_action/status" to="/execute_trajectory/status" if="$(arg simulation_arg)"/>
	<remap from="/trajectory_action/cancel" to="/execute_trajectory/cancel" if="$(arg simulation_arg)"/>
	<remap from="/trajectory_action/feedback" to="/execute_trajectory/feedback" if="$(arg simulation_arg)"/>
	<remap from="/trajectory_action/goal" to="/execute_trajectory/goal" if="$(arg simulation_arg)"/>
	<remap from="/trajectory_action/result" to="/execute_trajectory/result" if="$(arg simulation_arg)"/>

	-->
	<include file="$(find yaskawa_moveit_config)/launch/demo.launch"/> 
	
	<node name="plan_server" pkg="pose_estimation" type="plan_node" output="screen"/>
	<node name="main_node" pkg="pose_estimation" type="main_node" output="screen"/>
	
	


</launch>
