<launch>




<!-- Show segmentation masks on the image 
<include file="$(find realsense2_camera)/launch/rs_camera.launch"/>-->
<arg name="view_segmentation" default="True" />

<!-- Show binary masks -->
<arg name="view_mask" default="True" />


<!-- Visualize binary mask  -->
<arg name="set_debug" default="True" />

<!-- topic to publish the images of the camera -->
<arg name="image_topic" default="/camera/color/image_raw" />
<arg name="segmentation_topic" default="/camera/color/segmentation_result" />
<arg name="mask_topic" default="/camera/mask_result" />
<arg name="mask_image_topic" default="/camera/mask_image" />

<!-- parameters to commond use -->
<param name="image_topic_name" value="$(arg image_topic)" />
<param name="segmentation_topic_name" value="$(arg segmentation_topic)" />
<param name="mask_topic_name" value="$(arg mask_topic)" />
<param name="mask_image_topic_name" value="$(arg mask_image_topic)" />
<param name="height" value="480" />
<param name="width" value="640" />
<param name="mask_image_topic_name" value="$(arg mask_image_topic)" />

  <!-- spawn segmentation node -->
<node name="seg_node" pkg="pose_estimation" type="yolact_node.py" respawn="true">
        <param name="top_k" value="5" />
        <param name="score_threshold" value="0.9" />
        <param name="display_masks" value="True" />
        <param name="display_bboxes" value="True" />
        <param name="display_text" value="True" />
        <param name="display_scores" value="True" />
        <param name="display_crop" value="True" />
        <param name="yolact_model" value="/home/workstation2/AlessioBenitoAlterani/Master-thesis/yolact/weights/santal_51_270000.pth" />
</node>


<!-- spawn node to visualize the binary masks -->
<node name="mask_node" pkg="pose_estimation" type="mask_to_img.py" respawn="true" if="$(arg set_debug)"/>
<node name="mask_viewer" pkg="rqt_image_view" type="rqt_image_view" args="$(arg mask_image_topic)" if="$(arg view_mask)"/>

<!-- spawn node to visualize the segmentation result -->
<node name="segmentation_viewer" pkg="rqt_image_view" type="rqt_image_view" args="$(arg segmentation_topic)" if="$(arg view_segmentation)"/>



</launch>
